# Dependências
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds / artefatos
dist/
build/
.out/

# Ambiente
.env
.env.local
.env.*.local

# Cache
.cache/
.next/
tmp/
temp/

# Sistema/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
